@import "../../../variables";

:host {
  width: 100%;

  .ng-lazyloaded {
    opacity: 1;
  }

  ::ng-deep {

    .ant-card {
      background: transparent;
    }

    .ant-card-actions {
      background: transparent;
      border-top: none;
    }

  }
}

.image-title-form {
  width: 260px;
}
