<nz-layout class="contact-page">
  <nz-header class="contact-header">
    <nz-page-header>
      <nz-page-header-title>My Contacts</nz-page-header-title>
      <nz-page-header-subtitle>Here you can find all your contacts</nz-page-header-subtitle>
      <nz-page-header-extra nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="6">
        <hb-input-search (onChange)="onSearchChanged($event)"></hb-input-search>
      </nz-page-header-extra>
    </nz-page-header>
  </nz-header>
  <nz-content>
    <nz-spin nzTip="Loading..." [nzSpinning]="listLoading" [nzDelay]="500">
      <nz-content class="contact-content">
        <div nz-row class="img-list-container">
          <div nz-col nzXs="12" nzSm="12" nzMd="8" nzLg="6" nzXl="6"
               style=" padding: 15px; float: left!important;"
               *ngFor="let contact of filteredList">
            <hb-contact-card
              [title]="contact.title"
              [description]="contact.description"
              [src]="contact.src"
              [pixelSrc]="contact.pixelSrc"
              [id]="contact.id"
              [icon]="contact.icon">
            </hb-contact-card>
          </div>
        </div>
      </nz-content>
    </nz-spin>
  </nz-content>
</nz-layout>
