.contact-page {
  .contact-header {
    background: transparent;
  }

  .loading-button {
    &:before {
      background: transparent;
    }
  }

  .contact-content {
    min-height: 100vh;
  }

  .img-list-container {
    max-width: 1280px;
    margin: 0 auto;
  }

  .ant-layout-header {
    height: auto;
    padding: 0;
    border-bottom: 1px solid #dedede;
  }

  hb-input-search {
    input {
      background: transparent;
    }
  }
}


